/**
 * Custom media
 * xsm: portrait phones
 * sm : landscape phones
 * md : tablets
 * lg : desktops
 * xlg: …and beyond
 */

@custom-media --xsm-viewport (width < 576px);
@custom-media --sm-viewport (width >= 576px) and (width < 768px);
@custom-media --md-viewport (width >= 768px) and (width < 992px);
@custom-media --lg-viewport (width >= 992px) and (width < 1200px);
@custom-media --xlg-viewport (width > 1200px);

/**
 * Custom properties
 */

:root {
  --Grid-gutter-size: 20px;
  --Arrange-gutter-size: 20px;
}

/**
 * Custom selectors
 * :any-link, :enter are available via postcss plugins
 */

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--cell td, th;
