<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/{{ craft.config.revManifest['assets/css/app.css']|default('assets/css/app.css') }}">
  <link rel="stylesheet" media="print" href="/{{ craft.config.revManifest['assets/css/print.css']|default('assets/css/print.css') }}">

  <script src="/{{ craft.config.revManifest['assets/js/head.js']|default('assets/js/head.js') }}"></script>

  {% include '_includes/favicons.html' %}
</head>
<body>
  {% block layoutContent %}{% endblock %}
  <script src="/{{ revManifest['assets/js/tail.js']|default('assets/js/tail.js') }}"></script>
</body>
</html>
